

body{
    margin: 0;
    padding: 0;
    background: #efefff;
}
.logo{
    margin:0;
    height: 114px;
    width: 100%;
    background: #bb11bb;  
    h1{
        color:#ac1; 
        padding: 0;
        margin: 0;
            }
}
.register_pane{
    display: block;
    padding-left: 20%;
    margin-left: 20%;
    margin-right: 20%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-top: 5%;
    background: #ffff00;
    border: #bb11bb 4px solid;
    
    
    .uname{
        border: green 2px solid;
        background: gray;
    }
}